<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1599908895">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="The 7 Habits of Highly Effective People" rel="nofollow" href="https://www.goodreads.com/book/show/25788301-the-7-habits-of-highly-effective-people"><img alt="The 7 Habits of Highly Effective People" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1441995604l/25788301._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones" rel="nofollow" href="https://www.goodreads.com/book/show/40121378-atomic-habits"><img alt="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1535115320l/40121378._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Forecasting: principles and practice" rel="nofollow" href="https://www.goodreads.com/book/show/41130895-forecasting"><img alt="Forecasting: principles and practice" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1534115781l/41130895._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="How to Win Friends and Influence People" rel="nofollow" href="https://www.goodreads.com/book/show/42634855-how-to-win-friends-and-influence-people"><img alt="How to Win Friends and Influence People" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1541433251l/42634855._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Make It Stick: The Science of Successful Learning" rel="nofollow" href="https://www.goodreads.com/book/show/18770267-make-it-stick"><img alt="Make It Stick: The Science of Successful Learning" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1436742344l/18770267._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The School of Life: An Emotional Education" rel="nofollow" href="https://www.goodreads.com/book/show/43264830-the-school-of-life"><img alt="The School of Life: An Emotional Education" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1568273715l/43264830._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Working in Public: The Making and Maintenance of Open Source Software" rel="nofollow" href="https://www.goodreads.com/book/show/54216469-working-in-public"><img alt="Working in Public: The Making and Maintenance of Open Source Software" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1592798366l/54216469._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="You Need a Budget: The Proven System for Breaking the Paycheck to Paycheck Cycle, Getting Out of Debt, and Living the Life You Want" rel="nofollow" href="https://www.goodreads.com/book/show/36041786-you-need-a-budget"><img alt="You Need a Budget: The Proven System for Breaking the Paycheck to Paycheck Cycle, Getting Out of Debt, and Living the Life You Want" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1509726605l/36041786._SX98_.jpg" /></a></div>
    <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/6221521-arief-rahmansyah">Arief Rahmansyah's favorite books »</a>
    <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Arief, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>
</div>
<script src="https://www.goodreads.com/review/grid_widget/6221521?cover_size=medium&hide_link=&hide_title=true&num_books=20&order=a&shelf=currently-reading&sort=title&widget_id=1599908895" type="text/javascript" charset="utf-8"></script>
